@{
    Layout = "_Layout";
}

<h2>You added this band:</h2>

<div class="displayinfo">
    <h3>Band Name: @Model.GetName()</h3>
    <h3>Band Manager: @Model.GetBandManager()</h3>
    <h3>Band Manager Phone Number: @Model.GetBandManagerPhone()</h3>
    <h3>Band Leader: @Model.GetBandLeader()</h3>
    <h3>Band Leader Phone Number: @Model.GetBandLeaderPhone()</h3>
</div>
